@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-inter: "Inter", sans-serif;
$font-raleway: "Raleway", sans-serif;
$font-maiah: "Maiah", sans-serif;

$font-body: $font-inter;

$font-families: (
    "inter": "Inter",
    "raleway": "Raleway",
    "maiah": "Maiah",
);

@each $name,
$font-family in $font-families {
    .font-#{$name} {
        font-family: $font-family, sans-serif;
    }
}

$asset-path: "../webfonts/";

/* Fonts includer */
@mixin font-face($font-family, $font-file, $weight: "normal", $style: "normal") {
    @font-face {
        font-family: $font-family;
        src: local($font-file), url($asset-path + $font-file + ".woff") format("woff"),
            url($asset-path + $font-file + ".eot") format("embedded-opentype"),
            url($asset-path + $font-file + ".ttf") format("truetype");
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face("Maiah", "Maiah-Thin", 300);
@include font-face("Maiah", "Maiah-Light", 400);
@include font-face("Maiah", "Maiah-Regular", 600);
@include font-face("Maiah", "Maiah-Bold", 800);

$font-weights: 300, 400, 500, 600, 700, 800, 900;

@each $fw in $font-weights {
    .fw-#{$fw} {
        font-weight: $fw;
    }
}