@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl('header.png') center top;
    background-size: contain;

    @include media-breakpoint-down(sm) {
        background: imgUrl('header-mobile.png') center top;
        background-size: contain;
    }

    .header-top-bar {
        padding: 37px 0;

        .header-btn {
            text-decoration: none;
            color: $white;
            font-size: 17px;
        }
    }

    nav.navbar {
        .navbar-nav .nav-item .nav-link {
            color: $white;
            text-align: center;
        }
    }

    .banner {
        padding: 67px 0 125px;

        .description {
            padding: 40px 0;

            @include media-breakpoint-down(sm) {
                padding: 40px 30px;
            }
        }

        @include media-breakpoint-down(sm) {
            padding: 93px 0 41px;

            .heading {
                font-size: 3.125rem !important;
                letter-spacing: -0.04em;
            }
        }
    }

    .about {
        .description {
            color: $white;
            font-size: 1.3125rem;
            padding-bottom: 37px;
            font-weight: 300;
        }

        @include media-breakpoint-down(sm) {
            .heading {
                font-size: 3.125rem !important;
                letter-spacing: 0.02em;
            }
        }
    }
}

section.products {
    color: $white;
    padding: 50px 0;

    @include media-breakpoint-up(md) {
        padding: 183px 0;
    }

    .product-slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin: 0 4.5px;
        }

        .slick-prev {
            left: -50px;

            @include media-breakpoint-down(sm) {
                left: 0;
            }
        }

        .slick-next {
            right: -50px;

            @include media-breakpoint-down(sm) {
                right: 0;
            }
        }

        .slick-arrow {
            z-index: 100;
            height: 44px;
            width: 24px;
            top: 171px;
        }

        .product-slider-content {
            text-align: center;

            .product-card {
                background: #171717;
                min-height: 342px;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .caption {
                padding-top: 40px;
                font-weight: 300;
                font-size: 1.3125rem;

                @include media-breakpoint-down(sm) {
                    font-size: 0.875rem;
                }
            }
        }
    }
}

section.custom-diamond {
    background: imgUrl("custom-ring.png") left center $black;
    background-size: contain;

    @include media-breakpoint-down(sm) {
        background: imgUrl("custom-ring-mobile.png") center top $black;
        background-size: contain;
    }

    .custom-diamond-inner {
        padding: 95px 0 142px;
        background: imgUrl("custom-watch.png") right center;
        background-size: contain;

        @include media-breakpoint-down(sm) {
            background: imgUrl("custom-watch-mobile.png") center bottom;
            background-size: contain;
            padding: 327px 12px 368px;

            .heading {
                font-size: 3.125rem !important;
                letter-spacing: -0.04em;
            }
        }

        .description {
            font-size: 1.3125rem;
            padding-bottom: 60px;

            @include media-breakpoint-down(sm) {
                padding: 0 30px 31px;
            }
        }
    }
}

section.diamond-type {
    color: $white;
    padding: 183px 0;

    @include media-breakpoint-down(sm) {
        padding: 76px 0 86px;

        .heading {
            font-size: 3.125rem !important;
            letter-spacing: -0.04em;
        }
    }

    .diamond-choice {
        background: imgUrl('diamond-cuts.png') right top;

        @include media-breakpoint-down(sm) {
            background-size: 305px;
            background-position-y: 78%;
        }

        .diamond-type-toggle {
            color: $white;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 21px;
        }

        hr {
            margin: 0;
            border-color: $white;
        }

        .nav {
            padding: 100px 0 0;

            @include media-breakpoint-down(sm) {
                padding: 24px 0 0;
            }

            ul.diamond-type-dropdown-menu {
                list-style: none;
                padding-inline-start: 0;
                display: none;

                li {
                    .nav-link {
                        font-size: 1.125rem;
                        padding: 0;
                        line-height: 2;
                        margin: 0 auto;

                        &.active {
                            padding-left: 0;

                            &::before {
                                content: "";
                            }
                        }
                    }
                }
            }

            .nav-link {
                background: none;
                font-family: $font-maiah;
                color: #ABABAB;
                font-size: 2.5rem;
                text-align: start;
                padding: 21.5px 0;
                line-height: 1;

                &.active {
                    padding-left: 42px;
                    font-size: 3.125rem;
                    color: $white;
                    letter-spacing: -0.04em;
                    position: relative;

                    &::before {
                        content: "-";
                        position: absolute;
                        left: 0;
                    }
                }
            }
        }
    }
}

section.diamond-variety {
    .variety-card {
        position: relative;
        display: flex;
        justify-content: center;

        .button {
            position: absolute;
            bottom: 6.125rem;

            @include media-breakpoint-down(sm) {
                bottom: 56px;

                a {
                    height: 38px;
                    font-size: 0.875rem;
                    display: inline;
                    padding: 11px 24px;
                }
            }
        }
    }
}

section.watch-collection {
    padding: 142px 0;
    background: #030307;
    position: relative;

    @include media-breakpoint-down(sm) {
        padding: 102px 0 30px;
    }

    .watches-slider {
        background-color: $white;

        .watch-slider-content {
            padding: 56px 71px 67px;

            @include media-breakpoint-down(sm) {
                padding: 18px 11px 22px;

                .heading {
                    font-size: 2.25rem !important;
                }
            }

            .watch-platform {
                background-color: #f8f8f8;
                min-height: 416px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 24px;
                margin: 23px 0 32px;

                img {
                    height: 100%;
                }
            }
        }
    }

    .watch-arrows {
        cursor: pointer;

        @include media-breakpoint-up(xl) {
            left: 103%;
        }
    }
}

section.faq {
    background: linear-gradient(180deg, #030307 0%, #141413 100%);
    padding-bottom: 140px;

    @include media-breakpoint-up(md) {
        padding: 64px 0;
    }

    @include media-breakpoint-up(lg) {
        padding: 206px 0;
    }

    button:focus {
        outline: none;
        box-shadow: none;
    }

    .accordion-card {
        margin: 3px 0;
    }

    .accordion-container {
        width: 100%;
    }

    .accordion-head {
        background-color: $white;
        color: $dark;
        cursor: pointer;
        font-weight: 600;
        text-transform: capitalize;
        padding: 1rem;
        transition: 0.2s all;

        @include media-breakpoint-up(xl) {
            font-size: 1.5rem; // 24px
            padding: 52px 60px;
        }

        .main-question {
            font-size: 2rem;
            font-weight: 700;

            @include media-breakpoint-down(sm) {
                font-size: 0.875rem;
            }
        }

        .plusminus {
            height: 48px;
            width: 48px;
            background: $light;
            color: $dark;
            border-radius: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.1s all ease-in-out;
        }

        &.active {
            .plusminus {
                background: $dark;
                color: $white;
                transform: rotate(45deg);
            }
        }
    }

    .accordion-body {
        background: $white;
        color: $dark;
        display: none;
        padding: 0 1rem 24px;
        line-height: 2;
        font-size: 1.25rem; // 20px

        @include media-breakpoint-up(md) {
            padding: 0 170px 55px;
        }

        @include media-breakpoint-down(sm) {
            font-size: 0.875rem;
        }
    }
}

section.form {
    @include media-breakpoint-down(sm) {
        .heading {
            font-size: 2.5rem !important;
            line-height: 1.15;
        }
    }

    .section_1,
    .section_2 {
        label {
            font-weight: 600;
            color: $white;
            padding-bottom: 14px;
            font-family: $font-raleway;

            @include media-breakpoint-down(sm) {
                font-size: 1.125rem;
            }
        }

        .form-control {
            height: 64px;
            border-radius: 0;
            padding-left: 19px;
            padding-right: 19px;
            font-family: $font-raleway;
            font-weight: 500;

            &:focus {
                outline: none;
                box-shadow: none;
            }

            &::placeholder {
                color: #9BA7B0;
            }
        }

        .select-wrapper {
            position: relative;

            &::after {
                position: absolute;
                content: "";
                background: imgUrl('select-caret.png', 'icons');
                width: 17px;
                height: 11px;
                right: 40px;
                top: 40%;
                z-index: 1000000000;
            }

            select {
                color: #9BA7B0;
            }
        }

        hr {
            border-color: $primary;
            opacity: 1;
            margin: 80px 0;
            border-width: 1px;

            @include media-breakpoint-down(sm) {
                margin: 62px 0;
            }
        }

        button {
            height: 64px;
            width: 100%;
            color: $white;
            background: $primary;
            text-transform: uppercase;
            font-family: $font-raleway;
            font-weight: 800;
        }
    }

    .section_1 {
        background-color: #141413;
        padding-bottom: 88px;

        @include media-breakpoint-down(sm) {
            padding-bottom: 67px;
        }

        .form-control {
            border: 1px solid rgba(155, 167, 176, 0.26);
            background-color: $white;
            color: $black;
        }
    }

    .section_2 {
        background-color: $black;
        padding: 126px 0;

        @include media-breakpoint-down(sm) {
            padding: 53px 0 64px;
        }

        .form-control {
            border: 1px solid #3F3F3F;
            background: transparent;
            color: $white;
        }
    }
}

footer {
    font-size: 0.875rem;
    background-color: $black;
    padding-bottom: 29px;

    @include media-breakpoint-up(md) {
        padding: 76px 0;
    }

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}