@function imgUrl($file, $path: "background") {
    @return url("../images/" + $path + "/" + $file) no-repeat;
}

header {
    background: imgUrl('header.png') center top;
    background-size: contain;

    .header-top-bar {
        padding: 37px 0;

        .header-btn {
            text-decoration: none;
            color: $white;
            font-size: 17px;
        }
    }

    .banner {
        padding: 104px 0 125px;
    }

    .about {

    }
}

footer {
    font-size: 0.875rem;
    background-color: #221f1f;

    @include media-breakpoint-down(sm) {
        font-size: 0.61rem;
    }
}
